.navbar{
  height: 75px;
  background-color: red;
  display: flex;
  text-decoration: none;
  padding: 0px;
  
}
.navbar .active{
  color: silver;
}
.navbar li{
  display: inline-block;
  padding: 10px;
}
.nav-bar-link{
  color: white;
  text-decoration: none;
}
.nav-bar-link1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
}
hr
{   content: "A" !important;
    display: block !important;
    margin-top: 0em;
    margin-bottom: 0em !important;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
